* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
}

/* container */
.container-slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* lava cast farby */
.slide-left{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s linear;
}

.slide-left > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide-left h2{
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: -40px;
}

.color-1-slide {
    background-color: rgb(0, 136, 255);
}

.color-2-slide {
    background-color: rgb(0, 4, 255);
}

.color-3-slide {
    background-color: rgb(0, 0, 95);
}

.color-4-slide {
    background-color: orange;
}

/* prava cast obrazky */
.slide-right{
width: 65%;
height: 100%;
position: absolute;
top: 0;
left: 35%;
transition: transform .5s linear;
}

.slide-right > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-1 {
    background-image: url(images/obr1.jpg);
}

.image-2 {
    background-image: url(images/obr2.jpg);
}

.image-3 {
    background-image: url(images/obr3.jpg);
}

.image-4 {
    background-image: url(images/obr4.jpg);
}

/* Ikonky sipiek */
.arrow-buttons .arrow{
    position: absolute;
    z-index: 100;
    left: 35%;
    top: 50%;
}

.arrow img {
    width: 50px;
}

.arrow-down img {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrow-down img:hover {
    border: 1px solid black;
}

.arrow-up img {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arrow-up img:hover {
    border: 1px solid black;
}